<div class="tab"
     appTabIndicator
     [index]="currentIndex">
  <div class="tab__item__label" (click)="selectTab(item);currentIndex=i"
       [class.tab__item__active]="activeTabItem === item"
       *ngFor="let item of tabItems$ | async;  index as i"
  >
    <ng-container *ngTemplateOutlet="item.labelComponent.labelContent">
    </ng-container>
    {{ item.label }}
  </div>
</div>


<div class="tab__item__content">
  <ng-container *ngIf="activeTabItem">
    <ng-container #vc></ng-container>
  </ng-container>
</div>

