<div class="tab"
     appTabIndicator
     [index]="currentIndex">
  <div class="tab__item__label" (click)="selectTab(item);currentIndex=i"
       [class.tab__item__active]="activeTab === item"
       *ngFor="let item of tabItems$ | async;  index as i"
  >
    <ng-container *ngTemplateOutlet="item.labelComponent.labelContent">
    </ng-container>
    {{ item.label }}
  </div>
</div>


<div class="tab__item__content">
    <ng-container *ngIf="activeTab && activeTab.bodyComponent">
      <ng-container *ngTemplateOutlet="activeTab.bodyComponent.bodyContent">
      </ng-container>
    </ng-container>
</div>

